/* Print Area CSS */
@media print {
    * {
        visibility: hidden;
    }
    body {
        margin: 0 !important;
        padding: 0;
      }
      .printable {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0.5in;
        box-sizing: border-box;
        overflow: visible;
        box-shadow: none;
        border:none;
      }
      .printable * {
        visibility: visible;
        max-width: 100%;
        overflow-wrap: break-word;
      }
      @page {
        size: auto;
        margin: 0.25in;
      }
      .printable img, .printable table {
        max-width: 100% !important;
        height: auto !important;
      }
}